<!DOCTYPE html>
<html>
    <head>  
        <title> forget password</title>
        <link href="../styles/forgetpass.css" rel="stylesheet">
        
    </head>
    <body>
        <div class="forgetPage">
            <div class="mainContent">
                <div class="forgetContent">
                    <div class="forgetHead">
                        <div class="fundooTitle">
                            <span class="letterF">F</span> <span class="letterU">u</span><span class="letterN">n</span><span class="letterD">d</span><span class="letterO">o</span><span class="letterOO">o</span>
                        </div>
                        <div class="signInText">
                            Forget Your password?
                        </div>
                        <div class="fundooText">
                            Enter your email to reset the password
                        </div>
                    </div>
                    <div class="forgetBody">
                        <div class="emailBlock">
                            
                            <input class="inputBox" type="text" placeholder="Email" required>
                            
                        </div >
                    </div>
                    <div class="forgetBottom">
                        <div class="buttonBlock">
                            <div class="createAccBtn">
                                <a href="./register.html">Create account</a>   
                                
                            </div>
                            <div >
                                <button class="nextBtn">Next</button>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </body>
</html>