<!DOCTYPE html>
<html>
    <head>  
        <title> Login</title>
        <link href="../styles/login.css" rel="stylesheet">
        
    </head>
    <body>
        <div class="loginPage">
            <div class="mainContent">
                <div class="loginContent">
                    <div class="fundooTitle">
                        <span class="letterF">F</span> <span class="letterU">u</span><span class="letterN">n</span><span class="letterD">d</span><span class="letterO">o</span><span class="letterOO">o</span>
                    </div>
                    <div class="signInText">
                        Sign In
                    </div>
                    <div class="fundooText">
                        Use Your Fundoo Account
                    </div>
                    <div class="emailBlock">
                        
                        <input class="inputBox" type="text" placeholder="Email"  required>
                        <a href="#">Forget Email?</a> 
                    </div >
                    <div class="passwordBlock">
                        
                        <input class="inputBox" type="password" placeholder="Password" required>
                        <a href="./forgetpass.html">Forget Password?</a>
                    </div>
                    <div class="guestText">
                        <span>Not your computer? Use Guest mode to sign in privately.</span>
                        <a href="#">Learn more</a>
                    </div>
                    <div class="buttonBlock">
                        <div class="createAccBtn">
                            <a href="./register.html">Create account</a>   
                            
                        </div>
                        <div >
                            <button class="nextBtn">Next</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>