<!DOCTYPE html>
<html>

<head>
    <title> Create our Fundoo Account</title>
    <link href="../styles/register.css" rel="stylesheet">

</head>

<body>
    <div class="registerPage">
        <div class="mainContent">
            <div class="registerContent">
                <div class="fundooTitle">
                    <span class="letterF">F</span> <span class="letterU">u</span><span class="letterN">n</span><span
                        class="letterD">d</span><span class="letterO">o</span><span class="letterOO">o</span>
                </div>
                <div class="signInText">
                    Create your Google Account
                </div>
                <div class="nameBlock">
                    <div>
                        
                        <input class="inputBox" type="text" placeholder="First Name" required>
                    </div>
                    <div>
                        
                        <input class="inputBox" type="text" placeholder="Last Name" required>
                    </div>

                </div>

                <div class="emailBlock">
                    
                    <input class="inputBox" type="email" placeholder="Email" required>
                    <span class="spanText">You can use letters, numbers and full stops</span>
                    <a href="#">Use my current email address instead</a>
                </div>
                <div class="passwordBlock">
                    <div class="passwordContent">
                        <div>
                            
                            <input class="inputBox" type="password" placeholder="Password" required>
                        </div>
                        <div>
                            
                            <input class="inputBox" type="password" placeholder="Confirm Password" required>
                        </div>
                    </div>
                    
                    <span class="spanText">Use 8 or more characters with a mix of letters, numbers & symbols</span>
                </div>
                <div class="passText">
                    <div class="showPass">
                        <div>
                            <input type="checkbox">
                        </div>
                        <div>
                            Show Password
                        </div>
                        
                    </div>
                    
                </div>
                <div class="buttonBlock">
                    <div class="createAccBtn">
                        <a href="./login.html">Sign in instead</a>

                    </div>
                    <div>
                        <button class="nextBtn">Next</button>
                    </div>
                </div>
            </div>
            <div class="imageContent">
                <div>
                    <img src="../assests/imgreg.png">
                </div>
                <div class="imageText">
                    One account. All of Google working for you.
                </div>

            </div>
        </div>
    </div>
</body>

</html>