<!DOCTYPE html>
<html>
    <head>  
        <title> reset password</title>
        <link href="../styles/resetpass.css" rel="stylesheet">
        
    </head>
    <body>
        <div class="resetPage">
            <div class="mainContent">
                <div class="resetContent">
                    <div class="resetHead">
                        <div class="fundooTitle">
                            <span class="letterF">F</span> <span class="letterU">u</span><span class="letterN">n</span><span class="letterD">d</span><span class="letterO">o</span><span class="letterOO">o</span>
                        </div>
                        <div class="signInText">
                            Reset Your password
                        </div>
                        
                    </div>

                    <div class="resetBody">
                        <div class="passwordBlock">
                            
                            <input class="inputBox" type="password" placeholder="New Password" required>
                            <a href="#">Use 8 or more characters with a mix of letters, numbers & symbols</a> 
                        </div >
                        <div class="passwordBlock">
                            
                            <input class="inputBox" type="text" placeholder="Confirm password" required>
                            <a href="#">password and Confirm password must be same</a>
                        </div>
                    </div>
                    
                    
                    <div class="resetBottom">
                        <div class="buttonBlock">
                            
                            <div >
                                <button class="nextBtn">Next</button>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </body>
</html>