.registerPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContent{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
}
.registerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 60%;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.letterF{
    color: #2596be;
}
.letterU{
    color: #d3441c;
}
.letterN{
    color: #eab676;
}
.letterD{
    color: #8876ea;
}
.letterO{
    color: #ea76e4;
}
.letterOO{
    color: #76ea7c;
}
.fundooTitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 5%;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.signInText{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 10%;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.nameBlock{
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 90%;
}

.emailBlock{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 90%;
}
input[type=text] {
    width: 95%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=password] {
    width: 95%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=email] {
    width: 98%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
.passwordBlock{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 90%;
   
}
.passwordContent{
    display: flex;
    flex-direction: row;
}

.spanText{
    font-size: 12px;
    margin-bottom: 5%;
}

.passText{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 5%;
    width: 90%;
    font-size: 16px;
    
}
.showPass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5%;
    width: 40%;
}
.buttonBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 90%;
    margin-top: 3%;
}

a{
    text-decoration: none;
}

.nextBtn{
    border: 1px solid blue;
    border-radius: 5px;
    color: white;
    background-color: #1472df;
    text-align: center;
    cursor: pointer;
    margin: 4px 2px;
    padding: 10px 25px;
}

.imageContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 30%;
}

.imageText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

/* @media only screen and (min-width:320px) and (max-width:480px) {
    .registerContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 60%;
        font-family: Arial, sans-serif;
        font-size: 16px;
    }

    .imageContent{
        display: none;
        
    }
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .imageContent{
        display: none;
        
    }

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .imageContent{
        display: none;
        
    }

    .registerContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 90%;
        font-family: Arial, sans-serif;
        font-size: 16px;
    }

    .nameBlock{
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 90%;
    }

    .passwordContent{
        display: flex;
        flex-direction: column;
    }

    .emailBlock{
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 90%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .imageContent{
        display: none;
        
    }

    .registerContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 90%;
        font-family: Arial, sans-serif;
        font-size: 16px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .imageContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 30%;
    }

    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .imageContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 30%;
    }
}